* {font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
}
#first {background-image: url("netflix-clone-boilerplate/assets/Title-Image.png");
 background-attachment: scroll;
 background-repeat: no-repeat;
 background-position: center;
}
nav a {
    text-decoration: none;
}
.a {
    padding:15px ;align-items: center;}
nav {
    padding: 40px;
}
.b{
    float: right;
}
body {
    background-color: black;
}
#b {padding-top: 300px;
padding-left: 50px;
font-weight: 800; 
}
#c {
    padding-left: 50px;
    font-weight: 5800;
    font-size: xx-large ;
}
#d{
    float: right;
    border-radius: 50%;
    padding-right: 40px;

}
#e {
    padding-left: 50px;
}
#f {display: inline-block;
width: 80px;
height: 30px;
color: black;
background-color:white;
padding: 5px;}
#g {
    display: inline-block;
    color: white;
}
#h {padding-left: 50px;}

#i, #j ,#h,#k ,#l ,#m,#n ,#o {
    padding-left: 50px;
}
#p, #q , #r ,#s {
    padding-left: 150px;
}
.xyz {
    background-color: white;
}
#q {font-weight: 400;
font-size: medium;
;}
td {padding-left: 20px;
padding-right: 20px;}
#r, #s {padding-left: 25px;}

@media(max-width:500px){
    #first{background-image:url("netflix-clone-boilerplate/assets/Title-Image.png");
    width:145vw;}
    nav {
        width: 145vw;
    }
    nav a{
        padding: 0px;
    }
    nav img{
        display: none;
    }
    #full_logo{
        display: inline-block;
    }
    #i img{
        width: 65vw;
        padding-top: 20px;
        padding-left: 115px;
    }
    #last {
        display: none;
    }
    #k img{
        width: 40vw;  
    }
    #six{
        display: none;
    }
    #m img{
        width: 75vw;
        padding-top: 25px;
        padding-left: 100px;
    }
   #o img{
    width: 80vw;
    padding-top: 25px;
    padding-left: 100px;
   }
   #p ,#q {
    display: none;
   }
   nav{
    padding: 0px;
    padding-top: 10px;
    padding-left: 6px;
   }
}


